@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    background-image: url(./img/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;

}

header {
    background-color: #d4c0d9;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;

}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links {
    list-style-type: none;
    font-size: 20px;
    display: flex;
    gap: 40px;
    text-align: center;
    word-spacing: -5px;
}

.links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    color: #6b3086;
}

.home {
    display: flex;
    align-items: center;
    height: 639px;
}

#perfil {
    border-radius: 50%;
    border: 10px solid #d4c0d9;
    object-fit: cover;
    width: 300px;
    height: 300px;
    text-align: center;
    position: relative;
    left: 150px;
    top: 30px;

}


#info {
    text-align: center;
    margin-left: 150px;
    margin-top: 20px;
    color: #ffffff;
    flex: 1;
    justify-content: right;
    text-transform: uppercase;
    font-weight: bold;

}

#info h1 {
    font-size: 35px;
    word-spacing: -10px;
}

#info span {
    color: #e7b9e7;
}

#info h2 {
    font-size: 25px;
}

#info p {
    font-size: 18px;
    padding: 20px;
}


#btn1 {
    border: 5px solid #e7b9e7;
    padding: 5px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#btn2 {
    background-color: #d4c0d9;
    padding: 10px;
    font-size: 20px;
    color: rgb(42, 11, 54);
    text-decoration: none;
}

.sobre {
    width: 600px;
    height: auto;
    padding: 30px;
    text-align: center;
}

#sobremim h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

#sobremim p {
    color: #d4c0d9;
    font-weight: bold;
}