@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.main{
 font-family: "Amatic SC", sans-serif;
 background-color: rgb(51, 11, 75);
 opacity: 0.7;
 height: 925px;
 width: 500px;
 border-radius: 5%;
}

#title{
    font-size: 50px;
    text-align: center;
}

body{
    background-color: rgb(203, 183, 223);
    height: 1000px;
}

.bio{
    background-color: rgb(51, 11, 75);
     opacity: 0.7;
 height: 450px;
 width: 600px;
 border-radius: 5%;
 position: relative;
bottom: 925px; left: 530px;
}

.job{
    background-color: rgb(51, 11, 75);
     opacity: 0.7;
     height: 450px;
 width: 600px;
 border-radius: 5%;
 position: relative;
bottom: 1380px; left: 900px;
}

.contato{
    background-color: rgb(51, 11, 75);
     opacity: 0.7;
     height: 450px;
 width: 600px;
 border-radius: 5%;
 position: relative;
bottom: 2795px; left: 1850px;
}

.skills{
    background-color: rgb(51, 11, 75);
     opacity: 0.7;
     height: 450px;
 width: 600px;
 border-radius: 5%;
 position: relative;
bottom: 2760px; left: 1850px;
}


.img{
    max-width: 2000px;
    height: 500px;
}
