@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    background-image: url(./img/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #d4c0d9;
    padding: 20px;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    color: #6b3086;
}

#perfil {
    border-radius: 50%;
    border: 10px solid #d4c0d9;
    object-fit: cover;
    width: 250px;
    height: 250px;
    text-align: center;
    position: relative;
    left: 100px;
    top: 100px;

}

#info {
    text-align: center;
    color: #d4c0d9;
}